.logo {
    margin-top: 65px;
}

.forecast-container__title {
    color: $base-font-color;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
}

.error-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
        margin-bottom: 25px;
    }
}

.forecast-container__selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    column-gap: 1em;
    row-gap: 1em;
    flex-wrap: wrap;
}

.no-network-icon {
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top:0;
    right: 0;
}

@media screen and (max-device-width: 775px) {
    .logo img{
      width: 243px;
    }
}

@media screen and (max-device-width: 600px) {
    .forecast-container__selects {
      flex-direction: column;
    }
}