@import './common/styles/constants/constants.scss';
@import './common/styles/common.scss';
@import './components/Logo/LogoStyles.scss';
@import './components/NearestWeather/NearestWeatherStyles.scss';
@import './components/CitySelect/CitySelectStyles.scss';
@import './components/WeatherCard/WeatherCardStyles.scss';
@import './components/Slider/SliderStyles.scss';
@import './components/Datepicker/DatepickerStyles.scss';

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 40px;
  box-sizing: border-box;
}

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1em;
  margin: 50px 0px;
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: $weather-container-background;
  opacity: 0.6;
  margin-bottom: 16px;
}

@media screen and (max-device-width: 1280px) {
  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
  }
}