@import './common/styles/constants/constants.scss';
@import './common/styles/common.scss';
@import './components/Logo/LogoStyles.scss';
@import './components/NearestWeather/NearestWeatherStyles.scss';
@import './components/Select/SelectStyles.scss';
@import './components/WeatherCard/WeatherCardStyles.scss';
@import './components/Slider/SliderStyles.scss';
@import './components/PastForecast/PastForecastStyles.scss';

.app-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.weather-container {
  display: flex;
  justify-content: space-between;
}