@import './components/Logo/LogoStyles.scss';

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}