.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin-left: 25px;
    column-gap: 0.5em;
}

.slider-container__card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;
}

.slider-container__btn_prev {
    transform: rotate(180deg);
}

.slider-container__btn {
    width: 25px;
    cursor: pointer;
}

@media screen and (max-device-width: 660px) {
    .slider-container {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 0px 25px;
    }
  }